<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="#pub">Publications</a></li>
	        		<li><a href="#edu">Education</a></li>
	        		<li><a href="#exp">Experience</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fw2359@gmail.com">Email</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=8vHkc5YAAAAJ&hl=en">Google Scholar</a></li>
	        		<li><a href="https://github.com/smiles724">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
